<div mat-dialog-title><h1>Employee Form</h1></div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="text" placeholder="Ramesh" formControlName="firstName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Middle Name</mat-label>
            <input matInput type="text" placeholder="(Optional)" formControlName="middleName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" placeholder="Kumar" formControlName="lastName">
          </mat-form-field>
          
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Optional" formControlName="dob">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Date of Joining</mat-label>
            <input matInput type="date" formControlName="doj">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Date of Resignation</mat-label>
            <input matInput type="date" placeholder="(Blank if active)" formControlName="dor">
          </mat-form-field>
        
          
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Designation</mat-label>
            <mat-select formControlName="designation">
              <mat-option *ngFor="let val of designation" [value]="val">
               {{val}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
              <mat-option *ngFor="let rol of role" [value]="rol">
               {{rol}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="re@gmail.com" formControlName="email">
          </mat-form-field>
          
    </div>
</div>
<div mat-dialog-actions class="action">
  <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
</div>
</form>
